@import '../../assets/variable.colors.scss';

.carousel {
  outline : none;

  img {
    width: 100%;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100%;
  }

  .carousel-caption {
    @include font-size(4);
    margin: 0 auto;
    max-width: 60rem;
    padding: 2rem;
    font-weight: 600;
    text-transform: capitalize;

    @media #{$ipadPortrait} {
      @include font-size(1);
    }

    @media #{$ipadLandscape} {
      @include font-size(0.5);
    }

    p {
      padding-bottom: 1rem;
      text-transform: uppercase;

      @media #{$ipadPortrait} {
        padding-bottom: 0rem;
      }
    }
  }
}
