@import '../../assets/variable.colors.scss';

nav {
  width: 100%;
  margin: 0 auto;
  height: 5.75rem;
  background-color: transparent;

  @media #{$ipadLandscape} {
    height: auto;
  }

  ul {
    text-align: center;
    padding: 0px;

    li {
      display: inline-block;
      @media #{$ipadLandscape} {
        display: block;
      }

      a {
        @include font-size(1);
        line-height: 5.75rem;
        padding: 1rem 1.5rem;
        opacity: 1;
        text-decoration: none;
        transition: color .15s ease-in-out;
        color: $blueLight;
        font-family: 'Oswald', sans-serif;
        text-transform: uppercase;

        @media #{$ipadLandscape} {
          @include font-size(0.5);
        }

        &:hover {
          color: $pink;
          cursor: pointer;
        }

        img {
          width: 80px;
        }
      }
    }
  }
}
