// Pallete colors for the Application
$redLight: #C1392D;
$pink: #D9888D;
$pinkLight: #EE9EAD;
$blueLight: #51B2B8;
$pink-special: rgb(245, 203, 212);
$orange: #F9BF66;

// Mdiaqueries
$ipadPortrait: "only screen and (max-width : 1024px)";
$ipadLandscape: "only screen and (max-width : 768px)";


// Mixings
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}
