@import '../../assets/variable.colors.scss';

.welcome-text {
  padding-top: 100px;
  padding-bottom: 100px;

  h1 {
    text-align: center;
    font-weight: bold;
    color: $blueLight;
    width: 40%;
    margin: 0 auto;
  }

  p {
    text-align: center;
    font-size: 1.75rem;
    margin-top: 30px;
    color: $blueLight;
  }
}

.special-product {
  height: 500px;
  width: 100%;
  background-color: $pink-special;

  img {
    width: 45%;
    margin-top: 60px;
    margin-left: 50px;
  }

  .special-product-text {
    width: 50%;
    display: inline;
    float: right;

    h2 {
      @include font-size(4);
      margin-top: 20%;
      text-transform: uppercase;
      color: $blueLight;
    }

    span {
      color: $blueLight;
      @include font-size(2);
    }
  }
}
